ENVIRONMENT_NAME=DEV
REDIS_ENABLED=false
TOKEN_VERIFICATION_ENABLED=false

# Credentials for allowing user access
AUTH_CODE_CLIENT_ID=hmpps-typescript-template
AUTH_CODE_CLIENT_SECRET=clientsecret

# Credentials for API calls
CLIENT_CREDS_CLIENT_ID=hmpps-typescript-template-system
CLIENT_CREDS_CLIENT_SECRET=clientsecret

HMPPS_AUTH_URL=https://sign-in-dev.hmpps.service.justice.gov.uk/auth

INGRESS_URL=http://localhost:3000

# Backend API URL
MAILBOX_REGISTER_API_URL=http://localhost:8080
