$govuk-global-styles: true;
$path: "/assets/images/";

$moj-page-width: 1170px;
$govuk-page-width: $moj-page-width;

@use "govuk-frontend/dist/govuk";
@use "@ministryofjustice/frontend/moj/all";

@use './components/card';
@use './components/header-bar';
@use './overrides/local';
