@forward "govuk-frontend/dist/govuk/index" with (
  $govuk-global-styles: true,
  $govuk-page-width: 1170px,
);

@use "govuk-frontend/dist/govuk";
@use "@ministryofjustice/frontend/moj/all";

@use './components/card';
@use './components/header-bar';
@use './overrides/local';
