{% extends "../../partials/layout.njk" %}
{%- from "govuk/components/table/macro.njk" import govukTable -%}

{% set pageTitle = applicationName + " - Probation Teams" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/"
      },
      {
        text: "Probation Teams"
      }
    ]
  }) }}

  <h1 class="govuk-heading-l">Probation Teams</h1>

  {% if viewContext.hasAdminRole %}
  <p class="govuk-body">
    <a href="/probation-teams/new" class="govuk-link govuk-link--no-visited-state">Create a new
      Probation Team</a>
  </p>
  {% endif %}

  {% set tableRows = [] %}
  {% for probationTeam in probationTeams %}
    {% set tableRows = (tableRows.push([
      {
        html: '<a href="/probation-teams/' + probationTeam.id + '/edit" class="govuk-link">' + probationTeam.emailAddress + '</a>',
        attributes: {
          "data-qa": "email-column",
          "data-sort-value": probationTeam.emailAddress
        }
      },
      {
        text: probationTeam.teamCode,
        attributes: {
          "data-qa": "team-code-column"
        }
      },
      {
        text: probationTeam.localDeliveryUnitMailbox.name,
        attributes: {
          "data-qa": "ldu-name-column"
        }
      },
      {
        text: probationTeam.updatedAt | formatDate('dd MMM yyyy'),
        attributes: {
          "data-sort-value": probationTeam.updatedAt | formatDate('T')
        }
      }
    ]), tableRows) %}
  {% endfor %}

  {% if probationTeams.length %}
  {{
    govukTable({
      attributes: {
        'data-module': 'moj-sortable-table'
      },
      head: [
        {
          text: "Email address",
          attributes: {
            "aria-sort": "ascending"
          }
        },
        {
          text: "Team Code",
          attributes: {
            "aria-sort": "none"
          }
        },
        {
          text: "LDU",
          attributes: {
            "aria-sort": "none"
          }
        },
        {
          text: "Updated at",
          attributes: {
            "aria-sort": "none"
          }
        }
      ],
      rows: tableRows
    })
  }}
  {% else %}
    <p class="govuk-body">No Probation Teams have been created yet.</p>
  {% endif %}

{% endblock %}
