{% set mailbox = submittedForm if submittedForm else mailbox %}

{{ govukInput({
  label: {
    text: "Name"
  },
  id: "name",
  name: "name",
  value: mailbox.name,
  errorMessage: errors | errorFor("name")
}) }}

{{ govukInput({
  label: {
    text: "Email Address"
  },
  id: "email-address",
  name: "emailAddress",
  value: mailbox.emailAddress,
  errorMessage: errors | errorFor("emailAddress")
}) }}

{{ govukInput({
  label: {
    text: "Country"
  },
  id: "country",
  name: "country",
  value: mailbox.country,
  errorMessage: errors | errorFor("country"),
  classes: "govuk-!-width-two-thirds"
}) }}

{{ govukInput({
  label: {
    text: "Unit Code"
  },
  id: "unit-code",
  name: "unitCode",
  value: mailbox.unitCode,
  errorMessage: errors | errorFor("unitCode"),
  classes: "govuk-!-width-one-quarter"
}) }}

{{ govukInput({
  label: {
    text: "Area Code"
  },
  id: "area-code",
  name: "areaCode",
  value: mailbox.areaCode,
  errorMessage: errors | errorFor("areaCode"),
  classes: "govuk-!-width-one-quarter"
}) }}

{% if isEdit %}
  {% set submitLabel = "Update mailbox" %}
{% else %}
  {% set submitLabel = "Create mailbox" %}
{% endif %}

<div class="govuk-button-group govuk-!-padding-top-5">
  {{ govukButton({
    text: submitLabel
  }) }}

  {% if isEdit %}
    <a class="govuk-link govuk-link--no-visited-state" href="/local-delivery-unit-mailboxes/{{ mailbox.id }}/delete">Delete</a>
  {% endif %}

  <a class="govuk-link govuk-link--no-visited-state" href="/local-delivery-unit-mailboxes">Cancel</a>
</div>
