{% extends "../../partials/layout.njk" %}
{%- from "govuk/components/table/macro.njk" import govukTable -%}
{% import "../../macros/ldus.njk" as ldus %}

{% set pageTitle = applicationName + " - LDU Mailboxes" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

  {{
    govukBreadcrumbs({
      items: [
        {
          text: "Home",
          href: "/"
        },
        {
          text: "Local Delivery Unit Mailboxes"
        }
      ]
    }) 
  }}

  <h1 class="govuk-heading-l">Local Delivery Unit Mailboxes</h1>
  
  <p class="govuk-body">
    <a href="/local-delivery-unit-mailboxes/new" class="govuk-link govuk-link--no-visited-state">Create new Local Delivery Unit Mailbox</a>
  </p>

  {% set tableRows = [] %}
  {% for mailbox in mailboxes %}
    {% set tableRows = (tableRows.push([
      {
        html: '<a href="/local-delivery-unit-mailboxes/' + mailbox.id + '/edit" class="govuk-link">' + ldus.nameOrEmail(mailbox) + '</a>',
        attributes: {
          "data-qa": "name-column",
          "data-sort-value": mailbox.name
        }
      },
      {
        text: mailbox.emailAddress,
        attributes: {
          "data-qa": "email-column"
        }
      },
      {
        text: mailbox.unitCode
      },
      {
        text: mailbox.areaCode
      },
      {
        text: mailbox.country
      }
    ]), tableRows) %}
  {% endfor %}

  {{ govukTable({
    attributes: {
      'data-module': 'moj-sortable-table'
    },
    head: [
      {
        text: "Name",
        attributes: {
          "aria-sort": "none"
        }
      },
      {
        text: "Email address",
        attributes: {
          "aria-sort": "none"
        }
      },
      {
        text: "Unit code",
        attributes: {
          "aria-sort": "none"
        }
      },
      {
        text: "Area code",
        attributes: {
          "aria-sort": "none"
        }
      },
      {
        text: "Country",
        attributes: {
          "aria-sort": "none"
        }
      }
    ],
    rows: tableRows
  }) }}

{% endblock %}
