{% extends "../../partials/layout.njk" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/button/macro.njk" import govukButton %}


{% set pageTitle = applicationName + " - New LDU Mailbox" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

  {{
    govukBreadcrumbs({
      items: [
        {
          text: "Home",
          href: "/"
        },
        {
          text: "Local Delivery Unit Mailboxes",
          href: "/local-delivery-unit-mailboxes"
        },
        {
          text: "New"
        }
      ]
    })
  }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post" action="/local-delivery-unit-mailboxes">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">

        {% call govukFieldset({
          legend: {
            text: "New Local Delivery Unit Mailbox",
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
          }
        }) %}

        {% set submitLabel = "Create mailbox" %}
        {% include "pages/lduMailboxes/_form.njk" %}

        {% endcall %}

      </form>
    </div>
  </div>

{% endblock %}