{% extends "../../partials/layout.njk" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = applicationName + " - Delete OMU Mailbox" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/"
      },
      {
        text: "Offender Management Unit Mailboxes",
        href: "/offender-management-unit-mailboxes"
      },
      {
        text: "Delete"
      }
    ]
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post" action="/offender-management-unit-mailboxes/{{ mailbox.id }}?_method=DELETE">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">

        <h1 class="govuk-heading-l">Are you sure you want to delete the Offender Management Unit Mailbox "{{ mailbox.name }}"</h1>

        <p class="govuk-body">This action cannot be undone.</p>

        <div class="govuk-button-group govuk-!-padding-top-5">
          {{ govukButton({
            text: "Delete mailbox",
            classes: "govuk-button--warning"
          }) }}

          <a class="govuk-link govuk-link--no-visited-state" href="/offender-management-unit-mailboxes">Cancel</a>
        </div>
      </form>
    </div>
  </div>

{% endblock %}
