{% extends "../partials/layout.njk" %}
{% import "../macros/cards.njk" as cards %}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

  {{
    cards.inThrees([
      { href: "/local-delivery-unit-mailboxes", heading: "Local Delivery Units", description: "View, modify and delete mailboxes for Local Delivery Units (LDUs)" },
      { href: "/offender-management-unit-mailboxes", heading: "Offender Management Units", description: "View, modify and delete mailboxes for Offender Management Units (OMUs)" }
    ])
  }}

{% endblock %}
